{% assign parsedNames = include.names | split: ',' %} {% assign parsedGists = include.gists | split: ',' %} {% assign namesSize
= parsedNames | size %} {% assign gistsSize = parsedGists | size %}
<div class="tab" id="{{ include.sectionId }}">
  {% for name in parsedNames %}
  <button class="tablinks" id="{{include.sectionId}}{{ name }}Button" onclick="openLanguage(event, '{{ include.sectionId }}', '{{ include.sectionId }}{{ name }}')">{{ name }}</button>
  {% endfor %}
</div>
<div id="{{ include.sectionId }}Gists">
  {% for i in (0..gistsSize) %} {% if parsedGists[i] %}
  <div id="{{ include.sectionId }}{{ parsedNames[i] }}" class="tabcontent">
    <script src="{{ parsedGists[i] }}"></script>
  </div>
  {% endif %} {% endfor %}
</div>
<script>document.getElementById("{{include.sectionId}}{{ parsedNames[0] }}Button").click()</script>