
<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% assign unsorted_pages = site.categories[attr] %}
        {% if unsorted_pages == null %}
            {% continue %}
        {% endif %}
        {% assign sorted_pages = unsorted_pages | sort: 'order' %} 
        {% for sp in sorted_pages %}
            {% if forloop.first %}
                <li class=nav-header>{{ label }}</li>
            {% endif %}
            <li data-order="{{sp.order}}" class="{% if sp.url == page.url" %}active{% endif %}"><a href="{{ site.baseurl }}{{ sp.url }}">{{ sp.title }}</a></li>
        {% endfor %}
        
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>